@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: 10vh;
  font-family: "Poppins", Arial, sans-serif;
  /* background-image: linear-gradient(45deg, #f200ff 0%, #ffba42); */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 45px;
}

.links {
  display: flex;
  align-items: center;
  padding: 0;
}

.links li {
  list-style: none;
  margin: 0 17px;
}

.links span {
  color: #fff;
}

.links a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
  padding-bottom: 5px;
}

.links a:hover,
.links span:hover {
  color: #ffd369;
}

@media only screen and (min-width: 320px) {
  .links li {
    margin: 0 8px;
  }
}
